/* Geral */
#back-suporte {
    background-image: url(./amanhecer.jpeg);
    padding: 759px;
    padding-bottom: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.inicio-suporte {
    color: green;
    font-size: 60px;
    text-align: center;
}

#inicial-suporte {
    color: green;
    font-size: 50px;
}

#text-suporte {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}

#text1-suporte {
    color: #4c4949;
}

input,
label,
textarea {
    display: block;
    outline: none;
    width: 100%;
}

input,
textarea {
    color: #000000;
}

a {
    color: green;
}

/* Formulário */
#container-Suporte {
    width: 400px;
    margin: 0 auto;
    background: rgba(24, 20, 20, 0.987);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input,
.user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    box-sizing: border-box;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label,
.user-box textarea:focus ~ label,
.user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    padding-top: 20px; /* Espaço para o label */
}

.label-suporte {
    margin-bottom: 5px;
    font-size: 16px;
}

.button-form {
    text-align: center;
    margin-top: 20px; /* Adiciona um espaço acima dos botões */
}

/* Botões de Enviar e Limpar */
.btn,
#button-suporte {
    color: white; /* Cor do texto dos botões */
    padding: 12px 30px; /* Aumentado o padding para um tamanho maior */
    font-size: 18px; /* Aumentado o tamanho da fonte */
    border: 2px solid; /* Adiciona uma borda visível */
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px; /* Adiciona espaço entre os botões */
    background: none; /* Remove a cor de fundo */
    text-transform: uppercase; /* Torna o texto em maiúsculas */
}

#btn-submit-suporte {
    border-color: green; /* Define a cor da borda para verde */
    font-size: 18px; /* Tamanho da fonte aumentado */
    padding: 15px 35px; /* Aumentado o padding para um tamanho maior */
    color: white; /* Cor do texto do botão "Enviar" */
}

#btn-submit-suporte:hover {
    background-color: green; /* Cor de fundo verde ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

#button-suporte {
    border-color: red; /* Define a cor da borda para vermelho */
}

#button-suporte:hover {
    background-color: red; /* Cor de fundo vermelho ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

.volta-suporte {
    text-align: center;
}

#volta1-suporte,
#volta2-suporte,
#volta3-suporte {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}

/* Upload de Arquivo */
.file-upload {
    position: relative;
    display: flex;
    align-items: center;
}

.file-upload input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload-label {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px; /* Reduzido o padding para ajustar o comprimento */
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px; /* Tamanho da fonte ajustado */
    font-family: Arial, sans-serif;
    border: 2px solid #00ff00;
    box-shadow: 0 0 5px transparent;
    min-width: 120px; /* Define uma largura mínima */
    max-width: 127px; /* Define uma largura máxima */
    text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
    overflow: hidden; /* Oculta o texto que ultrapassa o botão */
    white-space: nowrap; /* Garante que o texto não quebre em múltiplas linhas */
}

.file-upload-label:hover {
    background-color: #00ff00;
    color: black;
    box-shadow: 0 0 15px #00ff00;
}

.file-name {
    margin-left: 10px;
    color: white;
    font-size: 14px; /* Ajuste o tamanho da fonte para combinar com o botão */
}
