#opcoes_config {
    text-align: center;
}

#princonfg {
    color: white;
}

#bttconta {
    width: 600px;
    margin-top: 2%;
    margin-left: 30%;
    background-color: green;
    border: black solid;

}