

/*Titulo do formulario*/

#branco {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    
}


#verde {
    color: rgb(81, 255, 0);
    text-align: center;
    font-size: 35px;
}

.meio {
    display: flex;
}

/*imagem inicial*/

#logocobre{
    position: absolute;
    left: 88%;
    top: 680px;
}


