

/*Titulo do formulario*/

#branco {
    color: white;
    margin-left: -30px;
    font-size: 25px;
    margin-top: 20px;
    
}


#verde {
    color: rgb(81, 255, 0);
    margin-left: -30px;
    padding-top: 20px;
    font-size: 35px;
    width: 80%;
}

.meio {
    display: flex;
}

/*imagem inicial*/

#logocobre{
    position: absolute;
    left: 80%;
    top: 530px;
}


