/* CSS Geral */
#back-login {
    background-image: url(./planta.jpeg);
    padding: 518px;
    padding-bottom: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.inicio-login {
    color: green;
    font-size: 60px;
    text-align: center;
}

#inicial-login {
    color: green;
}

#text-login {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#text1-login {
    color: green;
}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}

input {
    color: #000000;
}

a {
    color: green;
}

/* Formulário */
#container-login {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 25px;
    margin-top: -400px;
    border: 5px green solid;
}

#container-login h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    margin-bottom: 30px;
}

input:focus {
    border-color: #e60000;
}

input[type="submit"],
#button-login {
    float: left;
    display: block;
    margin-top: 20px;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: inherit;
    font-size: 25px;
    font-family: 'arial';
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="submit"]:hover,
#button-login:hover {
    background-color: #444444;
    transform: scale(1.03);
    color: white;
}

#box-button {
    display: flex;
    justify-content: space-between;
}

#agreement {
    margin-right: 5px;
}

#agreement,
#agreement-label {
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #ff1a1a;
    font-size: 12px;
    position: relative;
    bottom: 25px;
}

.template {
    display: none;
}

.submit {
    width: 100%;
    float: left;
}

.volta-login {
    margin-top: 100px;
    text-align: center;
}

.submit_cancel {
    padding: 5px 24px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: inherit;
    font-size: 25px;
    font-family: 'arial';
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

.submit_cancel:hover {
    background-color: #ffffff;
    transform: scale(1.03);
    color: black;
}

#volta1-login {
    color: white;
    font-size: 13px;
}

#volta2-login {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}

/* Adiciona o ícone ao lado do campo de senha */
.password-input {
    position: relative;
}

.password-input input[type="password"] {
    padding-right: 40px;
    /* Ajuste o padding para dar espaço suficiente para o ícone */
}

.password-input button {
    position: absolute;
    top: 50%;
    right: 0;
    /* Ajuste a posição do ícone conforme necessário */
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background: none;
    border: none;
}

.password-input button:focus {
    outline: none;
}

.password-input button svg {
    width: 20px;
    /* Ajuste o tamanho do ícone conforme necessário */
    height: 20px;
    margin-right: 5px;
    fill: #888888;
    /* Cor do ícone */
}

.password-input button:hover svg {
    fill: rgb(0, 0, 0);
    /* Cor do ícone quando o cursor está sobre ele */
}