/* geral */
#back-cadastro {
    background-image:url(./amanhecer.jpeg);
    padding: 509px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.inicio-cadastro {
    color:  green;
    font-size: 60px;
    text-align: center;
    
}
#inicial-cadastro{
    color: green;
}
#text-cadastro{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#text1-cadastro{
    color: green;
}
input,
label {
    display: block;
    outline: none;
    width: 100%;
}
input{
    color: #000000;
}

a {
    color:green;
}

/* form */
#container-Cadastro {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 25px;
    margin-top:-468px;
    border: 5px green solid;
}

#container-Cadastro h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    margin-bottom: 30px;
}

input:focus {
    border-color: #e60000;
}

input[type="submit"],
#button-cadastro {
    float: left;
    display: block;
    padding: 5px 20px; /* Reduzi o padding dos botões */
    border: none;
    outline: none;
    background-color: green;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: inherit;
    font-size: 20px; /* Reduzi o tamanho da fonte */
    font-family: 'arial';
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;

}

input[type="submit"]:hover,
#button-cadastro:hover{
    background-color: #444444;
    transform: scale(1.03);
    color: white;
}
#box-button-cadastro{
    display: flex;
    justify-content: space-between;
}

#button-cadastro{
    margin-left: 10px;
    margin-top: 20px;
    background-color: red;
    padding: 5px 20px; /* Reduzi o padding dos botões */
    font-size: 20px; /* Reduzi o tamanho da fonte */
}
#termos-cadastro{
    color: green;
}
#agreement-cadastro {
    margin-right: 5px;
}

#agreement-cadastro,
#agreement-label-cadastro {
    display: inline-block;
    width: auto;
    
}

.error-validation-cadastro {
    color: #ff1a1a;
    font-size: 12px;
    position: relative;
    bottom: 25px;
}

.template-cadastro {
    display: none;
}

.submit-cadastro {
    width: 100%;
    float: left;
}


.volta-cadastro{
    text-align: center;
}

#volta1-cadastro {
    color: white;
    font-size: 13px;
}

#volta2-cadastro {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}
